@font-face { 
    font-family: NonstopDebate;
    src: url(assets/fonts/NonstopDebatecounter-Regular.ttf)
}

@font-face {
    font-family: DT-Sans;
    src: url(assets/fonts/DTM-Sans.otf)
}


@font-face {
    font-family: DT-Mono;
    src: url(assets/fonts/DTM-Mono.otf)
}

/* BEM???? */

body {
    margin: 0;
    padding: 0;
}


#homeAvatar {
    transform: rotate(20deg);
    width: 40%;
    translate: -3% 3%;

    position: relative;
}

#header {
    background-color: cadetblue;
    
    height: 75vh;
    width: 100vw;

    position: relative;
    top:0;
}

.marquee {
    background-color: yellow;
    height: 10%;
    width: 100%;

    position: absolute;

    /* ON PARENT! NOT TEXT ITSELF */
    text-wrap: nowrap;
    overflow: hidden;
}

.textbox {
    background-color: rgb(86, 52, 52);

    /* need height and width later for when
    this becomes a proper parent */
}

.scrollDowContainer {
    background-color: rgb(184, 166, 201);
}

#rightbox {
    background-color: aquamarine;

    height: 60%;
    width: 73%;
    position: absolute;
    bottom: 0;
    right: 0;

    /* research flex; figure out why this works */
    display: flex;
}


#rightbox .marquee {
    font-size: 3vh;
    background-color: green;
    position: absolute;

    height: 15%;
}

/* IMAGE HEADER */

.container {
    position: relative;
}

#siteHeader {
    position: absolute;

    left: 46vw;
    top: 35.5vh;

    width: 54vw;
}

#siteHeader p {
    position: absolute;
    
    font-family: NonstopDebate;
    font-size: 4vw;

    left: 17%;
    bottom: -35%;
}

img[src="assets/images/arrow.webp"] {
  /* styles */
  position: absolute;
  animation: arrowAnim 3s infinite;

  width: 4vw;

  left: 10.5vw;
  bottom: 0;
}


img[src="assets/blinkies, stickers, stamps, etc./noellePin.webp"] {
    position: absolute;

    width: 8vw;
    height: 8vw;

    bottom: 0;
    left: 22vw;

    transform: translateY(50px);
}

img[src="assets/blinkies, stickers, stamps, etc./darkheartPin.webp"] {
    position: absolute;


    width: 7vw;
    height: 6vw;

    bottom: 0;
    right: 0;
    margin-right: 3px;

    transform: translateY(50px);
}

img[src="assets/blinkies, stickers, stamps, etc./krisPin.webp"] {
    position: absolute;

    width: 6vw;
    height: 7vw;

    bottom: 0;
    left: -3.5vw;
    margin-right: 3px;

    transform: translateY(50px);
}



@keyframes arrowAnim {
    0% {
        transform: translateY(15px);
    }

    50% {
        transform: translateY(35px);
    }

    100% {
        transform: translateY(15px);
    }
    
}

.marquee p {
    animation: Hmarquee 40s linear infinite;
    position: absolute;

    margin-top: 0vh;
    margin-bottom: 2vh;
}

@keyframes Hmarquee {
    from {
        transform: translateX( 0% );
    }

    to {
        transform: translateX( -50% );
    }
    
}

#rightbox .scrollDownContainer {
    /* scrollign! !! yes!! */
    overflow: scroll;

    background-color: blueviolet;

    position: relative;
    width: 35%;
}

#rightbox .scrollDownContainer .scrollDown { 
    position: absolute;

    box-sizing: border-box;
    margin-top: 20%;

    left: 50%;
    transform:translateX(-50%);

    width: 78%;
    height: 150%;
}


#rightbox .scrollDownContainer .scrollDown .blinkies {
    position: relative;
    width: 100%;

    margin-bottom: 10px;

}

#rightbox .scrollDownContainer .scrollDown .tinypixel {
    position: relative;
    width: 24%;

    margin-bottom: 10px;

}


#rightbox .textbox{
    overflow: scroll;
    font-size: 120%;
    font-family: DT-Sans, Arial, Helvetica, sans-serif;

    background-color: goldenrod;
    position: absolute;

    width: 65%;

    top: 8vw;
    bottom: 0;
    right: 0;
    

    padding: 15px 30px 20px 30px;
    box-sizing: border-box;
}

/* DIVIDER */

.headerdivider {
    position: absolute;
    top: 75vh;

    height: 1.52%;
    width: 100%;

}

img[src="assets/blinkies, stickers, stamps, etc./blueDivider.gif"] {
    position: absolute;
    margin-top: 0;
    top: 0;

    height: 100%;
    width: 100%;
}

img[src="assets/images/oumaHeadPixel.webp"] {
    position: relative;
    top: 10px;

    margin: 0px;
    size: 3px;

}
/* DIVIDER */

/*  
    relative -- 8
    fixed -- stuck on your screen
    absolute -- beyond, will search for non-default parent. if not, viewport
    static -- default
    sticky -- normal until some point, will be fixed
 */

 @media (max-width: 800px) {
    #homeAvatar {
        width: 50%;
        content: url("assets/images/pekoyama.webp");
        width: 33%;

        translate: 5% 70%;
        transform: rotate(0deg);
    }

    #header {
        height: 50vh;
        width: 100vw;
    }

    #rightbox {
        height: 60%;
        width: 78%;
    }

    #rightbox .marquee {
        height: 20%;
        font-size: 2.5vh;
    }

    .marquee p {
        bottom: -8px;
    }

    #rightbox .textbox{
        font-size: 80%;
        padding: 40px 30px 60px 30px;
    }

    #siteHeader {
        left: 43vw;
        top: 25vh;
        width: 57vw;
    }

    #siteHeader p {
        left: 21%;
        bottom: -30%;
    }

    .headerdivider {
    top: 50vh;
    }
    
}